{% extends 'base.html' %}

{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>The Anthology of Putin Berry</h1>
        <p>The mystery of Putin Berry ends today. You no longer have to go outside looking confused. Click the learn more button to begin this undertaking. Are you ready?</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

{% endblock %}

{% block content %}

<h1>The History of Putin Berry</h1>

{% endblock %}